<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/layout.css" rel="stylesheet">
    <title>Flexbox basics</title>
</head>
<body>
    <p>Flex</p>
    <ul class="flex">
        <li>Renato Gaúcho</li>
        <li>Diego Alves</li>
        <li>Felipe Luis</li>
        <li>Davi Luiz</li>
        <li>Rodrigo Caio</li>
        <li>Isla</li>
        <li>Aarão</li>
        <li>Andreas Pereira</li>
        <li>Arrascaeta</li>
        <li>Eventon Ribeiro</li>
        <li>Gabriel Barbosa</li>
        <li>Bruno Henrique</li>
    </ul>
    <hr>
    <p>Inline</p>
    <ul class="inline">
        <li>Renato Gaúcho</li>
        <li>Diego Alves</li>
        <li>Felipe Luis</li>
        <li>Davi Luiz</li>
        <li>Rodrigo Caio</li>
        <li>Isla</li>
        <li>Aarão</li>
        <li>Andreas Pereira</li>
        <li>Arrascaeta</li>
        <li>Eventon Ribeiro</li>
        <li>Gabriel Barbosa</li>
        <li>Bruno Henrique</li>
    </ul>
</body>
</html>
