<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/layout.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <p>Blue border: ul</p>
    <p>Green border: li</p>
    <p>Yellow border: a</p>
    <br>
    <p>li display block</p>
    <nav class="block">
        <ul>
            <li><a href="#">Eletronics</a></li>
            <li><a href="#">Household</a></li>
            <li><a href="#">Industrial</a></li>
            <li><a href="#">Toys and Games</a></li>
            <li><a href="#">Luggage</a></li>
            <li><a href="#">Automotive</a></li>
        </ul>
    </nav>
    <br>
    <p>li display inline</p>
    <nav class="inline">
        <ul>
            <li><a href="#">Eletronics</a></li>
            <li><a href="#">Household</a></li>
            <li><a href="#">Industrial</a></li>
            <li><a href="#">Toys and Games</a></li>
            <li><a href="#">Luggage</a></li>
            <li><a href="#">Automotive</a></li>
        </ul>
    </nav>
    <br>
    <p>li display inline-block</p>
    <nav class="inline-block">
        <ul>
            <li><a href="#">Eletronics</a></li>
            <li><a href="#">Household</a></li>
            <li><a href="#">Industrial</a></li>
            <li><a href="#">Toys and Games</a></li>
            <li><a href="#">Luggage</a></li>
            <li><a href="#">Automotive</a></li>
        </ul>
    </nav>
    <hr>
    Elements and it's default display value:
    <br>
    <div>The div element has no special meaning at all. It represents its children. It can be used with the class, lang, and title attributes to mark up
        semantics common
        to a group of consecutive elements.</div>
    <br>
    <h1>The h1 element represents a section heading.</h1>
    <br>
    <h2>The h2 element represents a section heading.</h2>
    <br>
    <p>The p element represents a paragraph.</p>
    <br>
    <ul>
        <li>The li element represents a list item. If its parent element is an ol, ul, or menu element, then the element is an item of the parent element's
            list, as defined
            for those elements. Otherwise, the list item has no defined list-related relationship to any other li element.</li>
    </ul>
    <br>
    <table>
        <caption>The table element represents data with more than one dimension, in the form of a table.</caption>
        <tbody>
            <tr>
                <td>The td element represents a data cell in a table.</td>
            </tr>
        </tbody>
    </table>
    <br><span>The span element doesn't mean anything on its own, but can be useful when used together with the global attributes, e.g. class, lang, or dir. It
        represents its
        children.</span>
    <br><a href="#">If the a element has an href attribute, then it represents a hyperlink (a hypertext anchor) labeled by its contents.</a>
    <br><strong>The strong element represents strong importance, seriousness, or urgency for its contents.</strong>
    <br><em>The em element represents stress emphasis of its contents.</em>
    <br><img src="#" alt="An img element represents an image.">
</body>
</html>
